name: php7.4, macOS latest

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        php-versions: [ '7.4' ]
    name: PHP ${{ matrix.php-versions }} Test on macOS latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: ffi, json, zlib
          tools: composer
      - name: Install Dependencies
        run: composer install --verbose
      - name: Unit tests
        run: ./vendor/bin/phpunit --testdox tests/Unit/
      - name: Integration tests
        run: ./vendor/bin/phpunit --testdox tests/Integration/
